@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-ExtraLight.woff2") format("woff2"),
    url("/fonts/BLMelody-ExtraLight.woff") format("woff"),
    url("/fonts/BLMelody-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-Light.woff2") format("woff2"),
    url("/fonts/BLMelody-Light.woff") format("woff"),
    url("/fonts/BLMelody-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-Book.woff2") format("woff2"),
    url("/fonts/BLMelody-Book.woff") format("woff"),
    url("/fonts/BLMelody-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-Regular.woff2") format("woff2"),
    url("/fonts/BLMelody-Regular.woff") format("woff"),
    url("/fonts/BLMelody-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-Medium.woff2") format("woff2"),
    url("/fonts/BLMelody-Medium.woff") format("woff"),
    url("/fonts/BLMelody-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-SemiBold.woff2") format("woff2"),
    url("/fonts/BLMelody-SemiBold.woff") format("woff"),
    url("/fonts/BLMelody-SemiBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody";
  src:
    url("/fonts/BLMelody-Bold.woff2") format("woff2"),
    url("/fonts/BLMelody-Bold.woff") format("woff"),
    url("/fonts/BLMelody-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
