@use "./reset.scss";
@use "./fonts.scss";

body {
  $fallback-grey: hsl(0, 0%, 5%);

  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  display: grid;
  place-content: center;
  align-items: center;

  color: white;
  background-color: $fallback-grey;

  font-family: BLMelody, sans-serif, serif;
}

img {
  &.landing-background {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    z-index: -1;

    opacity: 0;
    filter: blur(5px);
  }

  &#brand {
    opacity: 0;

    width: 80%;
  }
}

.loading-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  text-align: center;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 2rem;

  & > #socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 15vw;

    opacity: 0;

    & > a {
      img {
        $size: 2.5rem;
        height: $size;
        width: $size;
      }
    }
  }
}

.tagline {
  color: white;
  font-size: 2rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
}

address {
  font-style: normal;
  text-align: center;
  opacity: 0;
  font-size: 1.5rem;

  padding-top: 1rem;

  a {
    color: white;
    display: inline-block;
  }
}
